<nav class = "navbar navbar-default navbar-fixed-top">
   <div class = "container-fluid">
      <div class = "navbar-header"> 
			<%= link_to image_tag("logo.png", alt: "Toys and Crafts PH logo", size: "50x50"), root_path, id: "logo", class: "navbar-left" %>
		</div>
		<div id = "navbar" class = "navbar-right">
			<ul class = "navbar navbar-nav" >
				<li class = "dropdown" style = "list-style-type: none">
					<!-- If not logged in -->
					<% if !logged_in? %>
					<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
						<p class = "navbar-text"> Login <b class = "caret"></b></p>
					</a>
					<ul class = "dropdown-menu">
						<li style = "padding: 5px">
							<%= form_for(:session, url: login_path, class: 'form-inline', id: 'loginform') do |f| %>
								<div class = "form-group">
									<label class = "sr-only" for = "username">Username</label>
									<%= f.text_field :username, placeholder: 'Username' , class: 'form-control', id: 'inputUsername'%>
								</div>
								<div class = "form-group">
									<label class = "sr-only" for = "password">Password</label>
									<%= f.password_field :password, placeholder: 'Password', class: 'form-control', id: 'inputPassword'%>
								</div>
								<button type = "submit" class = "btn btn-primary btn-block">Log in</button>
								<a href = "register">Register</a>
							<% end %>
						</li>
					</ul>
					<% end %>
					<% if logged_in? %>
					<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
						<p class = "navbar-text"> Username <b class = "caret"></b></p>
					</a>
					<ul class = "dropdown-menu">
						<li><%= link_to "Orders", "orders" %></li>
						<li class = "divider"></li>
						<li><%= link_to "Log out", "logout" %></li>
					</ul> 
					<% end %>
				</li>
			</ul>
		</div>
  </div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar bgceee">
			<ul class = "nav nav-sidebar">
				<li><%= link_to "Toys", "toys" %></li>
				<li><%= link_to "Printing - Coming Soon!", "#" %></li>
				<li><%= link_to "Customized Items - Coming Soon!", "#" %></li>
			</ul>
			<hr>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Shopping Cart</h3>
				</div>
				<table class="table" id = "cart">
					<div id = "thead">
					<tr id>
						<th>Item</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Delete</th>
					</tr>
					</div>
					<div id = "tbody">
					<tr>
						<td>Item</td>
						<td>2</td>
						<td>5 php</td>
						<td><%= link_to image_tag("delete96.png", alt: "delete", size: "14x14"), root_path %></td>
					</tr>
					<tr>
						<td>Item</td>
						<td>2</td>
						<td>5 php</td>
						<td><%= link_to image_tag("delete96.png", alt: "delete", size: "14x14"), root_path %></td>
					</tr>
					<tr>
						<td>Item</td>
						<td>2</td>
						<td>5 php</td>
						<td><%= link_to image_tag("delete96.png", alt: "delete", size: "14x14"), root_path %></td>
					</tr>
					<tr>
						<td>Item</td>
						<td>2</td>
						<td>5 php</td>
						<td><%= link_to image_tag("delete96.png", alt: "delete", size: "14x14"), root_path %></td>
					</tr>
					<tr>
						<td>Item</td>
						<td>2</td>
						<td>5 php</td>
						<td><%= link_to image_tag("delete96.png", alt: "delete", size: "14x14"), root_path %></td>
					</tr>
					<tr>
						<td>Item</td>
						<td>2</td>
						<td>5 php</td>
						<td><%= link_to image_tag("delete96.png", alt: "delete", size: "14x14"), root_path %></td>
					</tr>
					<tr>
						<td>Item</td>
						<td>2</td>
						<td>5 php</td>
						<td><%= link_to image_tag("delete96.png", alt: "delete", size: "14x14"), root_path %></td>
					</tr>
					<tr>
						<td>Item</td>
						<td>2</td>
						<td>5 php</td>
						<td><%= link_to image_tag("delete96.png", alt: "delete", size: "14x14"), root_path %></td>
					</tr>
					<tr>
						<td>Item</td>
						<td>2</td>
						<td>5 php</td>
						<td><%= link_to image_tag("delete96.png", alt: "delete", size: "14x14"), root_path %></td>
					</tr>
					
					<tr id = "lastrow">
						<td><b>Total</b></td>
						<td></td>
						<td id = "tprice">5 php</td>
					</>
				</table>
				<div class = "panel-body">
					<button type = "button" class = "btn btn-info btn-sm pull-right">Order</button>
				</div>
			</div>
		</div>
		<div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-3 main">
			<div class="row">
				<h1> Welcome~! </h1>
				
         </div>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<p class="text-muted pull-left">
			Contact Us. <br>
			<%= link_to image_tag("facebook2.png", alt: "facebook", size: "14x14"), "https://www.facebook.com/ToysandCraftsPH/" %> 
				<a href = "https://www.facebook.com/ToysandCraftsPH/">Facebook </a> |
			<%= link_to image_tag("instagram19.png", alt: "instagram", size: "14x14"), "https://www.facebook.com/ToysandCraftsPH/" %> 
				<a href = "https://instagram.com/toysandcraftsph/">Instagram </a><br>
			
		</p>
   </div>
</footer>
			
<!-- Icons from flaticon.com -->		